<% @campgrounds.each do |campground| %>
  <div class="parallax-container">
    <div class="parallax"><%= image_tag campground.campground_images.find_by(main_image: true).image.url(:parallax) %></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h3 class="header"><%= campground.title %></h3>
      <p class="grey-text"><%= truncate(campground.content, length: 1000, separator: ' ') %><%= link_to "Read more!", campground_path(campground) %></p>
    </div>
  </div>
<% end %>

<% if !current_user.nil? && current_user.contributor %>
  <div class="fixed-action-btn">
    <%= link_to new_campground_path, class: "btn-floating btn-large modal-trigger teal darken-4" do %>
      <i class="large material-icons">add</i>
    <% end %>
  </div>
<% end %>

<script>
  $(document).ready(function(){
      $('.parallax').parallax();
  });
</script>