<h1>Create a new campground!</h1>

<%= form_for @campground, html: { multipart: true } do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <div>
  <%= f.label :campground_images %>
    <div>
      <%= file_field_tag "images[]", type: :file, multiple: true %>
    </div>
  </div>
  <div><%= f.submit %></div>
<% end %>