<div class="container">
  <div class="row">
    <div class="col s8">      
      <h1><%= @campground.title %></h1>
    </div>
    <div class="col s4">
      <%= link_to "Back to all Campgrounds", campgrounds_path, class: "waves-effect waves-light btn" %>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <%= image_tag @campground.campground_images.find_by(main_image: true).image.url, class: "materialboxed responsive-img" %>
    </div>
  </div>
  <div class="row">
    <% @campground.campground_images.where(main_image: nil).each do |campground_image| %>
      <div class="col s2">
        <%= image_tag campground_image.image.url, class: "materialboxed responsive-img" %>
      </div>
    <% end %>
  </div>
    <h5>By <%= @campground.user.full_name %></h5>
    <p><%= @campground.content %>
    <div>
      <h3>Impressions | <%= link_to "Provide your impression!", new_campground_impression_path(@campground) %></h3>
      <% @counts = @campground.count_impressions_totals %>
      <h4>Is this campground clean?</h4>
      <p>Yes: <%= @counts[:clean_yes] %> | No: <%= @counts[:clean_no] %></p>
      <h4>Is this campground crowded?</h4>
      <p>Yes: <%= @counts[:crowded_yes] %> | No: <%= @counts[:crowded_no] %></p>
      <h4>Is this campground private?</h4>
      <p>Yes: <%= @counts[:privacy_yes] %> | No: <%= @counts[:privacy_no] %></p>
      <h4>Is this campground shaded?</h4>
      <p>Yes: <%= @counts[:shade_yes] %> | No: <%= @counts[:shade_no] %></p>
      <h4>Is this campground fire accepting?</h4>
      <p>Yes: <%= @counts[:fire_yes] %> | No: <%= @counts[:fire_no] %></p>
      <h3>Comments</h3>
      <%= link_to "Add a comment", new_campground_comment_path(@campground) %>
      <% @campground.comments.each do |comment| %>
      <div>
        <p><%= comment.content %>&nbsp;-&nbsp;<%= comment.user.full_name %>
        <% if current_user == comment.user %>
        &nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to "Edit", edit_comment_path(comment) %>
        &nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to "Delete", comment_path(comment), method: :delete, data: { confirm: "Are you sure you want to delete this comment?"} %>
        <% end %>
        </p>
      </div>
      <% end %>
    </div>
</div>

<p><%= link_to "Back to all Campgrounds", campgrounds_path %>  
      <% if current_user == @campground.user %>
        &nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to "Edit Campground", edit_campground_path %>
        &nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to "Delete Campground", campground_path(@campground), method: :delete, data: { confirm: "Are you sure you want to delete this campground?"} %>
      <% end %>
    </p>
    <br>

<script>
  $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
</script>