<!DOCTYPE html>
<html>
  <head>
    <title>CampCrud</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper  blue-grey darken-4">
            <div class="container">
              <a href="/" class="brand-logo left"><img src="https://i.imgur.com/J9p032Q.png"></a>
              <ul id="nav-mobile" class="right">
                <% if current_user %>
                  <li><a>Welcome, <%= current_user.first_name %></a></li>
                  <% if !current_user.contributor %>
                    <% if !current_user.contributor_applications.empty? && current_user.contributor_applications.last.pending %>
                      <li><a>Contributor Status: PENDING</a></li>
                    <% else %>
                      <li><%= link_to 'Become a contributor!', new_user_contributor_application_path(current_user) %></li>
                    <% end %>
                  <% end %>
                  <li><%= link_to 'Log Out', session_path('dummy'), method: :delete %></li>
                <% else %>
                  <li><%= link_to 'Log In', login_path %></li>
                  <li><%= link_to 'Sign Up', new_user_path %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
